@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');
/* Import bold style to fix font shapes */

:root {
	--theme-primary: #F2720C;
	--theme-secondary-bg: rgb(39 35 37 / 75%);
	--shadow: 0 4px
}

html {
	letter-spacing: -1px!important;
	text-align: center;
}

strong {
	font-weight: 700;
	text-shadow: 0 1px #A14C08;
}

.bubble-container {
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin-block-end: 2rem;
}

.bubble {
	align-items: center;
	background-color: var(--theme-primary);
	border-radius: 0.25rem;
	box-shadow: 0 4px 6px var(--theme-secondary-bg);
	cursor: help;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	min-width: 35ch;
	padding: 1.25rem 0.75rem;
}

.bubble__value {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.5;
}

.bubble__description {
	line-height: 1.3;
}